.require-form {
    .ant-modal-body {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    width: 720px !important;
    top: 15px !important;

    .ant-row {
        margin-bottom: 0.3rem !important;
    }
    .ant-form-item-label {
        padding: 0 !important;
    }
    // .ant-modal-header {
    //     padding-top: 5px !important;
    //     padding-bottom: 5px !important;
    // }
}
