.ant-picker {
    width: 100%;
}
.ant-picker-range-separator {
    padding: 0.25rem !important;
}
.ant-picker-input {
    width: 75px !important;
}
.ant-picker-suffix {
    // position: absolute;
    // right: 11px;

    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ant-form-item-label {
    padding-bottom: 0.25rem !important;
}
